body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.logo img {
  max-width: 100px;
}

.botones button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
}
